@model BookWorm.Models.Book_Table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual_Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual_Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Current_Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current_Stock)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Book_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
